<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-title">
          <h4 class="card-title">Über mich?</h4>
        </div>
        <div class="card-content">
          <form #aboutMeForm="ngForm" (ngSubmit)="submit(aboutMeForm)">
            <input type="text" name="name" [ngModel]="aboutMe?.name" required>
            <button class="btn" type="submit" [disabled]="aboutMeForm.invalid">save</button>
            </form>
          <p>20.05.1999 / Alter: 25 Jahre</p>
          <p>Musterstrasse 1</p>
          <p>3600 Thun</p>
        </div>
      </div>
    </div>
  </div>