  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img [src]="'assets/Logo_Emilia.png'"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="'/about-me'">Über mich</a></li>
        <li><a [routerLink]="'/cv'">Lebenslauf</a></li>
        <li><a [routerLink]="'/login-app'">Login</a></li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="assets/profile.jpg">
          <span class="card-title">Emilia Eberhart</span>
        </div>
        <div class="card-content">
          <p>Hier findest du alle Informationen über mich und meine beruflichen Eckpunkte
          </p>
          <div class="card-action">
            <a href="/about-me">Über mich</a>
            <a href="/cv">Lebenslauf</a>
          </div>
        </div>
      </div>
    </div>
  </div>
              

<br>

<br>


  <router-outlet />
        