<div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-title">
          <h4 class="card-title">Lebenslauf</h4>
        </div>
        <div class="card-content">
          <p>cv works!</p>
          @if (formGroup) {
          <form [formGroup]=formGroup (ngSubmit)="saveCV()">
          <input type="number" formControlName="id" hidden>
          <input type="text" formControlName="employer">
          <input type="date" formControlName="start">
          <input type="date" formControlName="end">
          <button class="btn" type="submit">save</button>
          <button class="btn grey" type="button" (click)="formGroup = undefined">cancel</button>
          </form>
          }
          <button class="btn grey" type="button" (click)="select()">new</button>
          <a class="btn" [routerLink]="['/cv', 'new']">new new</a>
<ul>
@for (cv of cvs; track cv.employer) {
<li>{{ cv.employer }} {{ cv.start }} - {{ cv.end }}
<a class= "btn grey"[routerLink]="[cv.id,'edit']">EDIT</a>
<a class= "btn red"[routerLink]="[cv.id,'delete']">DELETE</a>
</li>
}
</ul>
        </div>
      </div>
    </div>
  </div>