<div class="row container">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          @if (formGroup) {
          <form [formGroup]=formGroup (ngSubmit)="saveCV()">
            <input type="number" formControlName="id" hidden>
            <input type="text" formControlName="employer">
            <input type="date" formControlName="start">
            <input type="date" formControlName="end">
            <div style="display: flex; gap: 2em; justify-content: center;">
                <button class="btn" type="submit">save</button>
                <button class="btn grey" type="button" (click)="formGroup = undefined">cancel</button>
             </div>
          </form>
          }
        </div>
      </div>
    </div>
  </div>